@model HomeBackProject.ViewModel.VMCreatePeople

@{
    ViewBag.Title = "加入會員";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>加入會員</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>VMCreatePeople</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.EmailAccount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmailAccount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmailAccount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PeopleName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PeopleName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PeopleName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdebtityNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IdebtityNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IdebtityNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            <div class="col-md-10">
                性別 :
                <select class="form-control" name="Gender">
                    <option disabled style="display: none" selected value>請選擇</option>
                    <option value="1">男</option>
                    <option value="0">女</option>
                </select>
            </div>
        </div>
        @*@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Gender)
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>*@
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            <div class="col-md-10">
                縣市 :
                <select class="form-control" name="CityIDTW" id="selectCounty" onchange="mainIdex()">
                    <option disabled style="display: none" selected value>請選擇</option>
                    @foreach (var item in ViewBag.County)
                    {
                        <option value="@item.CityIDTW">@item.CityTW</option>
                    }
                </select>
            </div>
        </div>
        @*@Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
            </div>*@
    </div>

    <div class="form-group">
        <div>
            鄉鎮 :
            <div class="col-md-10">
                <select class="form-control" name="" id="selectCity">
                    <option disabled style="display: none" selected value>請先選擇城市</option>
                </select>
            </div>
        </div>
        @*@Html.LabelFor(model => model.Town, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Town, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
            </div>*@
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RoadAndNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RoadAndNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RoadAndNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            會員身分 :
            <div class="col-md-10">
                <select class="form-control" name="HomeTSaleStateID">
                    <option disabled style="display: none" selected value>請選擇</option>
                    @foreach (var peopleRankData in ViewBag.SaleStateID)
                    {
                        if (@peopleRankData.PeopleRank != "管理員")
                        {
                            <option value="@peopleRankData.HomeTSaleStateID">@peopleRankData.PeopleRank</option>
                        }
                    }
                </select>
            </div>
        </div>
        @*@Html.LabelFor(model => model.SaleStateID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SaleStateID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SaleStateID, "", new { @class = "text-danger" })
            </div>*@
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@section Script {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
<script>
    function mainIdex() {
        var selectCountyValue = $(selectCounty).val();
        console.log(selectCountyValue);
        $('#selectCity').empty();
        var cityadd = `<option disabled style="display: none" selected value>請選擇</option>`;
        $('#selectCity').append(cityadd);
        $.ajax({
            url: `https://api.nlsc.gov.tw/other/ListTown/${selectCountyValue}`,
            type: 'GET',
            timeout: 1000,
            success: function (data) {
                //console.log(data)
                for (i = 1; i < $(data).find("townname").length; i++) {
                    var cityid = data.getElementsByTagName("townname")[i].firstChild.nodeValue;
                    console.log(cityid);
                    var cityadd = `<option>${cityid}</option>`;
                    $('#selectCity').append(cityadd);
                }
            }
        });
    }
</script>
