@model HomeBackProject.ViewModel.VMCreatePeople

@{
    ViewBag.Title = "加入會員";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "PeopleDatas", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <section class="h-100 h-custom gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-90">
                <div class="col-12">

                    <h1 class="mb-md-5 text-center" style="text-shadow: 0.3em 0.2em 0.2em #ffffff ;">
                        加入會員
                    </h1>

                    <div class="card card-registration card-registration-2 shadow-lg" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">

                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5 fs-2" style="color: #4835d4; text-shadow: 0.1em 0.05em 0.1em #4835d4; ">個人資料</h3>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <label class="form-label fs-5" for="PeopleName">姓名</label>
                                                    @Html.EditorFor(model => model.PeopleName, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "PeopleName", type = "text", id = "PeopleName", required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.PeopleName, "", new { @class = "text-danger" })
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <label class="form-label fs-5" for="Gender">性別</label>
                                                    <select class="form-select form-select-lg" name="Gender" id="Gender" required>
                                                        <option selected disabled style="display: none" value="">請選擇</option>
                                                        <option value="true">男</option>
                                                        <option value="false">女</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-4 pb-2">
                                            <div class="form-outline w-100">
                                                <label class="form-label fs-5" for="EMail">帳號(電子信箱)</label>
                                               @* <input type="email" id="EMail" class="form-control form-control-lg" name="EMail" required style="max-width:100%" />*@
                                                @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "EMail", type = "email", style = "max-width:100%", id = "EMail", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
                                                <div class="invalid-feedback">
                                                    請填寫正確的電子信箱
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <label class="form-label fs-5" for="PassWord">密碼</label>
                                                    @*<input type="password" id="PassWord" class="form-control form-control-lg" name="PassWord" />*@
                                                    @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "PassWord", type = "password", id = "PassWord", required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <label class="form-label fs-5" for="ConfirmPassword">再輸入一次密碼</label>
                                                    @*<input type="password" id="PassWordCheck" class="form-control form-control-lg" name="PassWordCheck" />*@
                                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "PassWordCheck", type = "password", id = "PassWordCheck", required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">
                                                @Html.LabelFor(model => model.IdebtityNumber, htmlAttributes: new { @class = "form-label fs-5" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.IdebtityNumber, new { htmlAttributes = new { @class = "form-control form-control-lg", required = "required" } })
                                                </div>
                                                <div class="invalid-feedback">
                                                    **必填欄位
                                                </div>
                                            </div>

                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <label class="form-label fs-5" for="Birthday">生日</label>
                                                    <input type="date" id="Birthday" class="form-control form-control-lg" name="Birthday" required />
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">

                                                <div class="col-md-6 mb-4 pb-2">
                                                    <div class="form-outline">
                                                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "form-label fs-5" })
                                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control form-control-lg", required = "required" } })
                                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                                        <div class="invalid-feedback">
                                                            **必填欄位
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 mb-4 pb-2">
                                                    <label for="inputGroupFile01" class="form-label fs-5">上傳會員照片</label>
                                                    <input type="file" class="form-control form-control-lg" id="inputGroupFile01" name="photo" style="max-width: 100%">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-6 bg-indigo text-white">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5  fs-2" style="color: #ffffff; text-shadow: 0.1em 0.05em 0.1em #ffffff; ">聯絡資料</h3>

                                        <div class="row">

                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <label class="form-label fs-5" for="selectCounty">縣市</label>
                                                    <select class="form-select form-select-lg" name="County" id="selectCounty" onchange="mainIdex()" required>
                                                        <option selected disabled style="display: none" value="">請選擇</option>
                                                        @foreach (var item in ViewBag.countyID)
                                                        {
                                                            <option value="@item.CityIDTW">@item.CityTW</option>
                                                        }
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <label class="form-label fs-5" for="selectCity">鄉鎮區</label>
                                                    <select class="form-select form-select-lg" name="Town" id="selectCity" required>
                                                        <option selected disabled style="display: none" value="">請先選擇縣市</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-4 pb-2">
                                            <div class="form-outline form-white">
                                                @Html.LabelFor(model => model.RoadAndNumber, htmlAttributes: new { @class = "form-label fs-5" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.RoadAndNumber, new { htmlAttributes = new { @class = "form-control form-control-lg", required = "required", style = "max-width:100%" } })
                                                    @Html.ValidationMessageFor(model => model.RoadAndNumber, "", new { @class = "text-danger" })
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-4 pb-2">
                                            <div class="form-outline form-white">
                                                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "form-label fs-5" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control form-control-lg" ,style = "max-width:100%" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-4 pb-2">

                                            <div class="form-outline form-white">

                                                <label class="form-label fs-5" for="SaleStateID">會員身分</label>
                                                <select class="form-select form-select-lg" name="SaleStateID" id="SaleStateID" required style="max-width:100%">
                                                    <option selected disabled value="">請選擇</option>
                                                    @foreach (var peopleRankData in ViewBag.SaleStateID)
                                                    {
                                                        if (@peopleRankData.PeopleRank != "管理員")
                                                        {
                                                            <option value="@peopleRankData.HomeTSaleStateID">@peopleRankData.PeopleRank</option>
                                                        }
                                                    }
                                                </select>
                                                <div class="invalid-feedback">
                                                    **必填欄位
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-check d-flex justify-content-start mb-4 pb-1 " style="max-width: 100%">
                                            <input class="form-check-input me-3 col-2" type="checkbox" value="" id="checkAllRow" required />
                                            <label class="form-check-label text-white col-4" for="checkAllRow">
                                                我同意本網站 <a href="#!" class="text-white"><u>相關規定</u></a>
                                            </label>
                                            <div class="invalid-feedback">
                                                **必填欄位
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-light btn-lg"
                                                data-mdb-ripple-color="dark">
                                            送出
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>































































    <!--<div class="form-horizontal">
        <h4>VMCreatePeople</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
            </div>
            <sapn class="text-danger">@ViewBag.checkErrorEmailCheck</sapn>
        </div>-->

    @*<div class="form-group">
            @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <!--<div class="form-group">
        @Html.LabelFor(model => model.PeopleName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PeopleName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PeopleName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3">
        <label for="inputGroupFile01" class="form-label">上傳大頭照</label>
        <input type="file" class="form-control" id="inputGroupFile01" aria-describedby="inputGroupFileAddon04" aria-label="點我上傳" name="photo">
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdebtityNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IdebtityNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IdebtityNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            <div class="col-md-10">
                性別
                <select class="form-control" name="Gender">
                    <option disabled style="display: none" selected value="請選擇">請選擇</option>
                    <option value="true">男</option>
                    <option value="false">女</option>
                </select>
            </div>
            <sapn class="text-danger">@ViewBag.checkErrorGender</sapn>
        </div>-->
    @*@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <!--</div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            <div class="col-md-10">
                縣市
                <select class="form-control" name="County" id="selectCounty" onchange="mainIdex()">
                    <option disabled style="display: none" selected value="請選擇">請選擇</option>
                    @foreach (var item in ViewBag.countyID)
                    {
                        <option value="@item.CityIDTW">@item.CityTW</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
            </div>
        </div>-->
    @*@Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.County, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
        </div>*@
    <!--</div>

    <div class="form-group">
        <div>
            鄉鎮
            <div class="col-md-10">
                <select class="form-control" name="Town" id="selectCity">
                    <option disabled style="display: none" selected value="請選擇">請先選擇縣市</option>
                </select>
                @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
            </div>
        </div>-->
    @*@Html.LabelFor(model => model.Town, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Town, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
        </div>*@
    <!--</div>

    <div class="form-group">
        @Html.LabelFor(model => model.RoadAndNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RoadAndNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RoadAndNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            會員身分
            <div class="col-md-10">
                <select class="form-control" name="SaleStateID">
                    <option disabled style="display: none" selected value="請選擇">請選擇</option>
                    @foreach (var peopleRankData in ViewBag.SaleStateID)
                    {
                        if (@peopleRankData.PeopleRank != "管理員")
                        {
                            <option value="@peopleRankData.HomeTSaleStateID">@peopleRankData.PeopleRank</option>
                        }
                    }
                </select>
                <sapn class="text-danger">@ViewBag.checkErrorSaleStateID</sapn>
            </div>
        </div>-->
    @*@Html.LabelFor(model => model.SaleStateID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SaleStateID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SaleStateID, "", new { @class = "text-danger" })
        </div>*@
    <!--</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>-->
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Script {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
<script src="~/Js/FindCityData.js"></script>
<script src="~/Js/Validation.js"></script>
