@model HomeBackProject.Models.PeopleData

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_LogInOut.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PeopleData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PeopleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdebtityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdebtityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoadAndNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadAndNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeopleAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeopleCash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleCash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorizationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorizationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountData.PassWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountData.PassWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityTypeData.CityTW)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityTypeData.CityTW)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeopleRankData.PeopleRank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeopleRankData.PeopleRank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramData.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramData.ProgramName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PeopleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
