@model HomeBackProject.Models.PeopleData

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_LogInOut.cshtml";
    var checkGender = @ViewBag.Gender == "男" ? true : false;
}


@using (Html.BeginForm("Edit", "PeopleDatas", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PeopleID)
    <section class="h-90 h-custom gradient-custom-2">
        <div class="container py-5 h-90">
            <div class="row d-flex justify-content-center align-items-center h-90">
                <div class="col-12">

                    <h1 class="mb-md-5 text-center" style="text-shadow: 0.3em 0.2em 0.2em #FFAAAA ;">
                        修改 @Model.PeopleName 會員資料
                    </h1>

                    <div class="card card-registration card-registration-2 shadow-lg" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">

                                <div class="col-lg-3 d-flex justify-content-center align-items-center mt-4 mb-4">
                                    <img src="@ViewBag.photoHeadShot" width="300" class="rounded-3 shadow" />
                                </div>

                                <article class="col-lg-9">
                                    <div class="p-5">
                                        <div class="row">
                                            <div class="col-md-4 mb-4 pb-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PeopleName, htmlAttributes: new { @class = "form-label fs-5" })
                                                    @if (@ViewBag.Rank != 4)
                                                    {
                                                        @Html.EditorFor(model => model.PeopleName, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "PeopleName", type = "text", id = "PeopleName", required = "required", @readonly = "readonly" } })
                                                    }
                                                    else
                                                    {
                                                        @Html.EditorFor(model => model.PeopleName, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "PeopleName", type = "text", id = "PeopleName", required = "required" } })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.PeopleName, "", new { @class = "text-danger" })
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 mb-4 pb-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.IdebtityNumber, htmlAttributes: new { @class = "form-label fs-5" })
                                                    @if (@ViewBag.Rank != 4)
                                                    {
                                                        @Html.EditorFor(model => model.IdebtityNumber, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "IdebtityNumber", type = "text", id = "IdebtityNumber", required = "required", @readonly = "readonly" } })
                                                    }
                                                    else
                                                    {
                                                        @Html.EditorFor(model => model.IdebtityNumber, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "IdebtityNumber", type = "text", id = "IdebtityNumber", required = "required" } })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.IdebtityNumber, "", new { @class = "text-danger" })
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 mb-4 pb-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "form-label fs-5" })
                                                    @if (@ViewBag.Rank != 4)
                                                    {
                                                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "Birthday", type = "Date", id = "Birthday", required = "required", @readonly = "readonly" } })
                                                    }
                                                    else
                                                    {
                                                        @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "Birthday", type = "Date", id = "Birthday", required = "required" } })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 mb-4 pb-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "form-label fs-5" })
                                                    @if (@ViewBag.Rank != 4)
                                                    {
                                                        @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "EMail", type = "text", id = "EMail", required = "required", @readonly = "readonly" } })
                                                    }
                                                    else
                                                    {
                                                        @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "EMail", type = "text", id = "EMail", required = "required" } })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-4 pb-2">
                                                <div class="form-group">
                                                    <label class="form-label fs-5" for="Gender">性別</label>
                                                    @if (@ViewBag.Rank != 4)
                                                    {
                                                        <select class="form-select form-select-lg" name="Gender" id="Gender" required disabled>
                                                            <option selected disabled style="display: none" value="@checkGender">@ViewBag.Gender</option>
                                                            <option value="true">男</option>
                                                            <option value="false">女</option>
                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        <select class="form-select form-select-lg" name="Gender" id="Gender" required>
                                                            <option selected disabled style="display: none" value="@checkGender">@ViewBag.Gender</option>
                                                            <option value="true">男</option>
                                                            <option value="false">女</option>
                                                        </select>
                                                    }
                                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 mb-4 pb-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "form-label fs-5" })
                                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control form-control-lg", name = "EMail", type = "text", id = "EMail", required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                                    <div class="invalid-feedback">
                                                        **必填欄位
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4 mb-4 pb-2">
                                                <div class="form-group">
                                                    縣市
                                                    <select class="form-control" name="County" id="selectCounty" onchange="mainIdex()">
                                                        <option style="display: none" value="@ViewBag.countyIDlast">@ViewBag.countyTWlast</option>
                                                        @foreach (var item in ViewBag.countyID)
                                                        {
                                                            <option value="@item.CityIDTW">@item.CityTW</option>
                                                        }
                                                    </select>
                                                    @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-4 mb-4 pb-2">
                                                <div class="form-group">
                                                    鄉鎮
                                                    <select class="form-control" name="Town" id="selectCity">
                                                        <option selected value="@ViewBag.Townlast" title="@ViewBag.Townlast">@ViewBag.Townlast</option>
                                                    </select>
                                                    @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@*<div class="form-horizontal">
        <h4>PeopleData</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PeopleID)

        <div class="form-group">
            @Html.LabelFor(model => model.PeopleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PeopleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeopleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdebtityNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdebtityNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdebtityNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control", value = @ViewBag.BirthDay })
                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control", value = @ViewBag.BirthDay, type = "Date" } })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Gender)
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMail, "EMail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EMail", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.County, "County", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("County", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Town, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Town, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoadAndNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoadAndNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoadAndNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PeopleAge, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PeopleAge, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeopleAge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PeopleCash, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PeopleCash, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PeopleCash, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuthorizationTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuthorizationTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AuthorizationTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SaleStateID, "SaleStateID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SaleStateID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SaleStateID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SchemeName, "SchemeName", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SchemeName", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SchemeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Script {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Js/FindCityData.js"></script>
    <script src="~/Js/Validation.js"></script>

}
