@model IEnumerable<HomeBackProject.Models.PeopleData>

@{
    ViewBag.Title = "會員管理";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2>會員管理</h2>

<div class="d-flex justify-content-end">
        @Html.ActionLink("新增會員", "Create", new {}, new { @class = "btn btn-primary me-4" })
</div>

<table class="table text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PeopleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeopleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdebtityNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityTypeData.CityTW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeopleCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeopleRankData.PeopleRank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramData.ProgramName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorizationTime)
        </th>
        <th>詳細資料</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(model => item.PeopleID)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PeopleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdebtityNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @if (item.Gender == true)
                {
                    <p>男</p>
                }
                else
                {
                    <p>女</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityTypeData.CityTW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeopleCash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeopleRankData.PeopleRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramData.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorizationTime)
            </td>
            <td>
                @Html.ActionLink("詳細資料", "Details", new { id = item.PeopleID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
