@using PagedList;
@using PagedList.Mvc;


@*@model IEnumerable<HomeBackProject.Models.PeopleData>*@
@model IPagedList<HomeBackProject.Models.PeopleData>

@{
    ViewBag.Title = "會員管理";
    Layout = "~/Views/Shared/_Layout_LogInOut.cshtml";
}



<div class="container-fluid">
    <div class="me-3 ms-3">
        <h1 class="text-center text-lg-start ms-lg-2 mt-lg-4">會員管理</h1>
        <form class="d-flex flex-column  flex-lg-row justify-content-lg-end flex-lg-wrap" action="~/PeopleDatas/Index" method="post">
            <input class="form-control mb-3 mb-lg-0 me-lg-3 col-lg-6" type="search" name="name" style="width:auto" placeholder="查詢使用姓名或電話" aria-label="Search">
            <button class="btn btn-outline-success mb-3 mb-lg-0 me-lg-3" type="submit">搜尋</button>
            <a class="btn btn-outline-info mb-4 mb-lg-0 me-lg-3" href="~/PeopleDatas/Index">清除</a>
            @Html.ActionLink("新增會員", "Create", new { }, new { @class = "btn btn-outline-primary me-lg-3 mb-2 mb-lg-0" })
        </form>
        <div class="table-responsive mt-3 mt-lg-5 shadow border border-dark rounded-start">
            <table class="table text-center table-striped table-hover" overflow="auto">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().PeopleName)
                        </th>
                        <th>
                            身分證後4碼
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CityTypeData.CityTW)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Town)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().PeopleRankData.PeopleRank)
                        </th>
                        <th>詳細資料</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeopleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdebtityNumber).ToString().Substring(6)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CityTypeData.CityTW)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Town)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeopleRankData.PeopleRank)
                            </td>
                            <td>
                                @*@Html.ActionLink("詳細資料", "Details", new { id = item.PeopleID }, new { @class = "btn btn-outline-primary" })*@
                                <button type="button" id="@item.PeopleID" class="btn btn-outline-primary btnDetail" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    詳細資料
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="d-flex justify-content-center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color:#FFF2E7">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                @*<a href="'~/PeopleDatas/Edit/'+id" class="btn btn-outline-danger">修改</a>*@
            </div>
        </div>
    </div>
</div>

@section Script {
    <script>
        $('.btnDetail').click(function (evt) {
            console.log("/PeopleDatas/Details/" + evt.target.id);
            $('#exampleModal .modal-body').load("/PeopleDatas/Details/" + evt.target.id);
            $('#exampleModalLabel').empty();
            $('#exampleModalLabel').append(evt.target.id + "  的詳細資料");
            $('.modal-footer').empty();
            $('.modal-footer').append(`<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>`);
            $('.modal-footer').append(`<a href="../PeopleDatas/Edit/${evt.target.id}" class=" btn btn-outline-danger">修改</a>`);

        });
    </script>
}