@model IEnumerable<HomeBackProject.Models.PeopleData>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PeopleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdebtityNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoadAndNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeopleAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeopleCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorizationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountData.PassWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityTypeData.CityTW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeopleRankData.PeopleRank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramData.ProgramName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PeopleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdebtityNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoadAndNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeopleAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeopleCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorizationTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountData.PassWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityTypeData.CityTW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeopleRankData.PeopleRank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramData.ProgramName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PeopleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PeopleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PeopleID })
        </td>
    </tr>
}

</table>
