@model HomeBackProject.Models.HomeData

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_LogInOut.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>HomeData</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.HomeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeMoney, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeMoney, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeMoney, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeSquareMeters, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeSquareMeters, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeSquareMeters, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="form-group">
                <div>
                    <div class="col-md-10">
                        縣市
                        <select class="form-control" name="HomeCity" id="selectCounty" onchange="mainIdex()">
                            <option disabled style="display: none" selected value="請選擇">請選擇</option>
                            @foreach (var item in ViewBag.countyID)
                            {
                                <option value="@item.CityIDTW">@item.CityTW</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.HomeCity, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*@Html.LabelFor(model => model.HomeCity, "HomeCity", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("HomeCity", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.HomeCity, "", new { @class = "text-danger" })
                    </div>*@
            </div>
        </div>

        <div class="form-group">
            <div>
                鄉鎮
                <div class="col-md-10">
                    <select class="form-control" name="HomeTown" id="selectCity">
                        <option disabled style="display: none" selected value="請選擇">請先選擇縣市</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.HomeTown, "", new { @class = "text-danger" })
                </div>
            </div>
            @*@Html.LabelFor(model => model.HomeTown, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HomeTown, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HomeTown, "", new { @class = "text-danger" })
                </div>*@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeStreet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeStreet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeStreet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            出售樓層(非必填)
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeFloor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeFloor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeHighFloor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeHighFloor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeHighFloor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <div class="col-md-10">
                    售/租
                    <select class="form-control" name="Gender">
                        <option value="true">售</option>
                        <option value="false">租</option>
                    </select>
                </div>
                @*<sapn class="text-danger">@ViewBag.checkErrorGender</sapn>*@
            </div>
            @*@Html.LabelFor(model => model.HomeSaleAndLease, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.HomeSaleAndLease)
                        @Html.ValidationMessageFor(model => model.HomeSaleAndLease, "", new { @class = "text-danger" })
                    </div>
                </div>*@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeAges, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeAges, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAges, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>
                <div class="col-md-10">
                    房
                    <select class="form-control" name="HomeRoom">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                @*<sapn class="text-danger">@ViewBag.checkErrorGender</sapn>*@
            </div>
            @*@Html.LabelFor(model => model.HomeRoom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HomeRoom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HomeRoom, "", new { @class = "text-danger" })
                </div>*@
        </div>

        <div class="form-group">
            <div>
                <div class="col-md-10">
                    廳
                    <select class="form-control" name="HomeHall">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                @*@Html.LabelFor(model => model.HomeHall, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HomeHall, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HomeHall, "", new { @class = "text-danger" })
                    </div>*@
            </div>
        </div>

        <div class="form-group">
            <div>
                <div class="col-md-10">
                    衛浴
                    <select class="form-control" name="HomeBathroom">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                @*@Html.LabelFor(model => model.HomeBathroom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HomeBathroom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HomeBathroom, "", new { @class = "text-danger" })
                    </div>*@
            </div>
        </div>

        <div class="form-group">
            <div>
                <div class="col-md-10">
                    陽台
                    <select class="form-control" name="HomeBalcony">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                @*@Html.LabelFor(model => model.HomeBalcony, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HomeBalcony, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HomeBalcony, "", new { @class = "text-danger" })
                    </div>*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeFeatures, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea id="HomeFeatures" name="HomeFeatures" rows="5" cols="40" class = "form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeManageTip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="HomeManageTip" id="HomeManageTip" value="0" class = "form-control"/>
            </div>    
            @*<div class="col-md-10">
                @Html.EditorFor(model => model.HomeManageTip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeManageTip, "", new { @class = "text-danger"})
            </div>*@
        </div>

        <div class="form-group">
            <div>
                <div class="col-md-10">
                    車位選擇
                    <select class="form-control" name="HomeCarID">
                        @foreach (var item in ViewBag.HomeCarID)
                        {
                            <option value="@item.CarTypeID">@item.CarTypeName</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.HomeCarID, "", new { @class = "text-danger" })
                </div>
            </div>
            @*車位選擇
            <div class="col-md-10">
                @Html.DropDownList("HomeCarID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HomeCarID, "", new { @class = "text-danger" })
            </div>*@
        </div>

        <div class="form-group">
            <div>
                <div class="col-md-10">
                    銷售狀態
                    <select class="form-control" name="HomeSaleType">
                        @foreach (var item in ViewBag.HomeSaleType)
                        {
                            <option value="@item.SaleStateID">@item.SaleState</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.HomeSaleType, "", new { @class = "text-danger" })
                </div>
            </div>
            @*銷售狀態
            <div class="col-md-10">
                @Html.DropDownList("HomeSaleType", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HomeSaleType, "", new { @class = "text-danger" })
            </div>*@
        </div>

        <div class="form-group">
            <div>
                <div class="col-md-10">
                    房屋類型
                    <select class="form-control" name="HomeType">
                        <option disabled style="display: none" selected value="請選擇">請選擇</option>
                        @foreach (var item in ViewBag.homeTypeData)
                        {
                            <option value="@item.HomeTypeID">@item.HomeTypeName</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.HomeType, "", new { @class = "text-danger" })
                </div>
            </div>
            @*房屋類型
                <div class="col-md-10">
                    @Html.DropDownList("HomeType", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.HomeType, "", new { @class = "text-danger" })
                </div>*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/FindCityOpenData.js"></script>
