@model IEnumerable<HomeBackProject.Models.HomeData>

@{
    ViewBag.Title = "房屋案件";
    Layout = "~/Views/Shared/_Layout_LogInOut.cshtml";
}

<h2>房屋案件</h2>

<p>
    @Html.ActionLink("建立新房屋案件", "Create")
</p>
<table class="table text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeSquareMeters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeMetersMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityTypeData.CityTW)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeFloor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeHighFloor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeSaleAndLease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeAges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeFeatures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeManageTip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADTypeData.ADName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarTypeData.CarTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTypeData.HomeTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleTypeData.SaleState)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (Session["userID"].ToString() == item.HomePeopleID)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeSquareMeters)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeMetersMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityTypeData.CityTW)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTown)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeStreet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeFloor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeHighFloor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeSaleAndLease)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeAges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeFeatures)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeManageTip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADTypeData.ADName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarTypeData.CarTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTypeData.HomeTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleTypeData.SaleState)
                </td>
                <td>
                    @Html.ActionLink("查詢", "Details", new { id = item.HomeID }) |
                    @Html.ActionLink("刪除", "Delete", new { id = item.HomeID })
                </td>
            </tr>
        }
    }

</table>
