@model IEnumerable<HomeBackProject.Models.PeopleRankData>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_LogInOut.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PeopleRank)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PeopleRank)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HomeTSaleStateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HomeTSaleStateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HomeTSaleStateID })
        </td>
    </tr>
}

</table>
