@model HomeBackProject.ViewModel.VMOthersSet

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_LogInOut.cshtml";
}


<div class="container p-4">
    <div class="row">
        <div class="col-lg-2">
            <div class="list-group">
                <a class="list-group-item list-group-item-primary active disabled text-center p-3 fs-4" aria-current="true">
                    其他相關設定
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light text-center p-3" href="/OthersSet/index?idNmae=Rank">會員身份設定</a>
                <a class="list-group-item list-group-item-action list-group-item-secondary text-center p-3" href="/OthersSet/index?idNmae=Program">會員方案設定</a>
                <a class="list-group-item list-group-item-action list-group-item-light text-center p-3" href="/OthersSet/index?idNmae=Home">房屋類型設定</a>
                <a class="list-group-item list-group-item-action list-group-item-secondary text-center p-3" href="/OthersSet/index?idNmae=Territory">土地類型設定</a>
                <a class="list-group-item list-group-item-action list-group-item-light text-center p-3" href="/OthersSet/index?idNmae=Car">車位類型設定</a>
                <a class="list-group-item list-group-item-action list-group-item-secondary text-center p-3" href="/OthersSet/index?idNmae=Sale">銷售類型設定</a>
                <a class="list-group-item list-group-item-action list-group-item-light text-center p-3" href="/OthersSet/index?idNmae=AD">廣告設定</a>
                <a class="list-group-item list-group-item-action list-group-item-secondary text-center p-3" href="/OthersSet/index?idNmae=City">縣市設定</a>
            </div>
        </div>
        <div class="col-lg-10">
            <h3 class="text-black fs-3 d-flex justify-content-center bg-opacity-75 fw-bolder rounded-3 m-2 p-2">@ViewBag.CheckView</h3>
            @if (@ViewBag.CheckData == "Rank")
            {
                <div class="table-responsive shadow border border-dark rounded-start">
                    <table class="table text-center table-striped table-hover" overflow="auto">
                        <thead>
                            <tr>
                                <th>
                                    編號
                                </th>
                                <th>
                                    名稱
                                </th>
                                <th>詳細資料</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PeopleRankData)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HomeTSaleStateID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeopleRank)
                                    </td>
                                    <td>
                                        @Html.ActionLink("詳細資料", "Details", new { id = item.HomeTSaleStateID }, new { @class = "btn btn-outline-primary" })
                                        @Html.ActionLink("刪除", "Details", new { id = item.HomeTSaleStateID }, new { @class = "btn btn-outline-primary" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            }
        </div>
    </div>
</div>

