@{
    ViewBag.Title = "Index";
    if (Session["userID"] == null) { Layout = "~/Views/Shared/_Layout.cshtml"; }
    else if (Session["userRank"].ToString() != "4") { Layout = "~/Views/Shared/_Layout_LogInOut.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout_admin.cshtml"; }
}

<div class="container-fluid">
    <!-- ======= Intro Section ======= -->
    <div class="intro intro-carousel swiper position-relative">
        <div class="swiper-wrapper">
            @for (int i = 0; i < @ViewBag.HighhomeDatasCount; i++)
            {
                <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(@ViewBag.Highphotos[i])">

                    <div class="overlay overlay-a"></div>
                    <div class="intro-content display-table">
                        <div class="table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="intro-body">
                                            <p class="intro-title-top">
                                                @ViewBag.HighCity[i] , @ViewBag.HighhomeDatas[i].HomeTown
                                            </p>
                                            <h1 class="intro-title mb-4 ">
                                                <span class="color-b">黃金熱搜</span>
                                                <br> @ViewBag.HighhomeDatas[i].HomeName
                                            </h1>
                                            <p class="intro-subtitle intro-price">
                                                <a href="/HomeDatas/Details/@ViewBag.HighhomeDatas[i].HomeID" target=_blank><span class="price-a">售價 | $ @ViewBag.HighhomeDatas[i].HomeMoney 萬起</span></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!-- End Intro Section -->

    <main id="main">

        <!-- ======= Services Section ======= -->
        <section class="section-services section-t8">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-wrap d-flex justify-content-between">
                            <div class="title-box">
                                <h2 class="title-a">我們的服務</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico">
                                    <span class="bi bi-cart"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h2 class="title-c">生活品味</h2>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    透過不同地區的房屋，來讓大家看到不同地方的美景
                                </p>
                            </div>
                            @*<div class="card-footer-c">
                                    <a href="#" class="link-c link-icon">
                                        Read more
                                        <span class="bi bi-chevron-right"></span>
                                    </a>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico">
                                    <span class="bi bi-calendar4-week"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h2 class="title-c">貸款介紹</h2>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    透過房仲來瞭解，你可以貸款多少錢錢
                                </p>
                            </div>
                            @*<div class="card-footer-c">
                                    <a href="#" class="link-c link-icon">
                                        Read more
                                        <span class="bi bi-calendar4-week"></span>
                                    </a>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-box-c foo">
                            <div class="card-header-c d-flex">
                                <div class="card-box-ico">
                                    <span class="bi bi-card-checklist"></span>
                                </div>
                                <div class="card-title-c align-self-center">
                                    <h2 class="title-c">銷售服務</h2>
                                </div>
                            </div>
                            <div class="card-body-c">
                                <p class="content-c">
                                    在這邊你可以銷售你想要的房屋資訊
                                </p>
                            </div>
                            @*<div class="card-footer-c">
                                    <a href="#" class="link-c link-icon">
                                        Read more
                                        <span class="bi bi-chevron-right"></span>
                                    </a>
                                </div>*@
                        </div>
                    </div>
                </div>
                <!-- End Services Section -->
                <!-- ======= Latest Properties Section ======= -->
                <section class="section-property section-t8">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title-wrap d-flex justify-content-between">
                                    <div class="title-box">
                                        <h2 class="title-a">精選房屋</h2>
                                    </div>
                                    <div class="title-link">
                                        <a href="property-grid.html">
                                            更多精選房屋
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div id="property-carousel" class="swiper">
                            <div class="swiper-wrapper d-flex align-items-center">

                                @for (int i = 0; i < @ViewBag.MidhomeDatasCount; i++)
                                {
                                    <div class="carousel-item-b swiper-slide">
                                        <div class="card-box-a card-shadow">
                                            <div class="img-box-a">
                                                <img src="@ViewBag.Midphotos[i]" alt="" class="img-a img-fluid">
                                            </div>
                                            <div class="card-overlay">
                                                <div class="card-overlay-a-content">
                                                    <div class="card-header-a">
                                                        <h2 class="card-title-a">
                                                            <a href="/HomeDatas/Details/@ViewBag.MidhomeDatas[i].HomeID" target=_blank>
                                                                @ViewBag.MidhCity[i] , @ViewBag.MidhomeDatas[i].HomeTown
                                                                <br />  @ViewBag.MidhomeDatas[i].HomeName
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="card-body-a">
                                                        <div class="price-box d-flex">
                                                            <span class="price-a">售價 | $ @ViewBag.MidhomeDatas[i].HomeMoney 萬起</span>
                                                        </div>
                                                        <a href="/HomeDatas/Details/@ViewBag.MidhomeDatas[i].HomeID" class="link-a" target=_blank>
                                                            點我看詳細資料
                                                            <span class="bi bi-chevron-right"></span>
                                                        </a>
                                                    </div>
                                                    <div class="card-footer-a">
                                                        <ul class="card-info d-flex justify-content-around">
                                                            <li>
                                                                <h4 class="card-info-title">面積</h4>
                                                                <span>
                                                                    @ViewBag.MidhomeDatas[i].HomeSquareMeters 坪
                                                                    @*<sup>2</sup>*@
                                                                </span>
                                                            </li>
                                                            <li>
                                                                <h4 class="card-info-title">房間</h4>
                                                                <span>@ViewBag.MidhomeDatas[i].HomeRoom</span>
                                                            </li>
                                                            <li>
                                                                <h4 class="card-info-title">廳</h4>
                                                                <span>@ViewBag.MidhomeDatas[i].HomeHall</span>
                                                            </li>
                                                            <li>
                                                                <h4 class="card-info-title">衛浴</h4>
                                                                <span>@ViewBag.MidhomeDatas[i].HomeBathroom</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </section>

                <!-- ======= Agents Section ======= -->
                <section class="section-agents section-t8 mb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title-wrap d-flex justify-content-between">
                                    <div class="title-box">
                                        <h2 class="title-a">最佳銷售員</h2>
                                    </div>
                                    <div class="title-link">
                                        @*<a href="agents-grid.html">
                                            All Agents
                                            <span class="bi bi-chevron-right"></span>
                                                </a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            @for (int i = 0; i < @ViewBag.peopleDatasCount; i++)
                            {
                                <div class="col-md-4">
                                    <div class="card-box-d">
                                        <div class="card-img-d">
                                            <img src="@ViewBag.peoplePhotoss[i]" alt="" class="img-d img-fluid">
                                        </div>
                                        <div class="card-overlay card-overlay-hover">
                                            <div class="card-header-d">
                                                <div class="card-title-d align-self-center">
                                                    <h3 class="title-d">
                                                        <a href="#" class="link-two">
                                                            Margaret Sotillo
                                                            <br> Escala
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="card-body-d">
                                                <p class="content-d color-text-a">
                                                    Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                                                </p>
                                                <div class="info-agents color-a">
                                                    <p>
                                                        <strong>Phone: </strong> +54 356 945234
                                                    </p>
                                                    <p>
                                                        <strong>Email: </strong> agents@example.com
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card-footer-d">
                                                <div class="socials-footer d-flex justify-content-center">
                                                    <ul class="list-inline">
                                                        <li class="list-inline-item">
                                                            <a href="https:\\www.facebook.com" class="link-one" target=_blank>
                                                                <i class="bi bi-facebook" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="https:\\www.twitter.com" class="link-one" target=_blank>
                                                                <i class="bi bi-twitter" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="https:\\www.instagram.com" class="link-one" target=_blank>
                                                                <i class="bi bi-instagram" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="https:\\www.linkedin.com" class="link-one" target=_blank>
                                                                <i class="bi bi-linkedin" aria-hidden="true"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </section>
                <!-- End Agents Section -->

            </div>
        </section>
    </main>
</div>


