@model IEnumerable<HW7Project.Models.Members>

@{
    ViewBag.Title = "會員資料列表";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<h2>會員資料列表</h2>

<p>
    @Html.ActionLink("新增會員資料", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberBirthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MemberID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberBirthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.MemberID }, new {@class="btn btn-info"}) |
            @Html.ActionLink("詳細", "Details", new { id=item.MemberID }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
