@using PagedList;
@using PagedList.Mvc;

@*@model IEnumerable<HomeBackProject.Models.HomeData>*@
@model IPagedList<HomeBackProject.Models.HomeData>

@{
    ViewBag.Title = "精選房屋資訊";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cityData = @ViewBag.cityid;
}

<main id="main">


    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">@ViewBag.titleCity 房屋</h1>
                        <span class="color-text-a">@ViewBag.titleCity 所有房屋</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb me-4">
                            <li class="breadcrumb-item">
                                <a href="/Home/Index">首頁</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @ViewBag.titleCity 房屋
                            </li>
                        </ol>
                        <button class="d-flex justify-content-center align-items-center mt-2 mt-lg-0 mb-4 mb-lg-0 me-lg-3 p-1 ps-3 pe-3 btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#SearchBtn">
                            <i class="bi bi-search"></i>
                        </button>
                        <a class="btn btn-outline-info mb-4 mb-lg-0 me-lg-3" href="~/Home/searchhouseIndex?cityid=@cityData">清除</a>
                    </nav>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <span class="text-danger mt-2 text-center fs-2">@TempData["Win"]</span>
            </div>
            <div class="row mt-4">
                <div class="col-lg mb-2 d-flex justify-content-center">
                    <a class="btn btn-info btn-lg" href="~/Home/searchhouseIndex?cityid=top">&nbsp;&nbsp;&nbsp;&nbsp;北部&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>
                <div class="col-lg mb-2 d-flex justify-content-center">
                    <a class=" btn btn-success btn-lg" href="~/Home/searchhouseIndex?cityid=mid">&nbsp;&nbsp;&nbsp;&nbsp;中部&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>

                <div class="col-lg mb-2 d-flex justify-content-center">
                    <a class=" btn btn-secondary btn-lg" href="~/Home/searchhouseIndex?cityid=south">&nbsp;&nbsp;&nbsp;&nbsp;南部&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>
                <div class="col-lg mb-2 d-flex justify-content-center">
                    <a class=" btn btn-warning btn-lg" href="~/Home/searchhouseIndex?cityid=eath">&nbsp;&nbsp;&nbsp;&nbsp;東部&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->

    <section class="property-grid grid">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                @*<div class="col-sm-12">
                        <div class="grid-option">
                            <form>
                                <select class="custom-select">
                                    <option selected>All</option>
                                    <option value="1">New to Old</option>
                                    <option value="2">For Rent</option>
                                    <option value="3">For Sale</option>
                                </select>
                            </form>
                        </div>
                    </div>*@
                @*@for (int i = 0; i < @ViewBag.ALLList[2]; i++)*@
                @for (int i = @ViewBag.pagesize[0]; i < @ViewBag.pagesize[1]; i++)
                {
                    <div class="col-md-4">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a d-flex justify-content-center align-items-center">
                                <img src="@ViewBag.ALLList[0][i]" alt="" class="img-a img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="/House/@ViewBag.ALLList[1][i].HomeID">
                                                @ViewBag.ALLList[3][i] , @ViewBag.ALLList[1][i].HomeTown
                                                <br />  @ViewBag.ALLList[1][i].HomeName
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">售價 | $ @ViewBag.ALLList[1][i].HomeMoney 萬起</span>
                                        </div>
                                        <a href="/House/@ViewBag.ALLList[1][i].HomeID" class="link-a" target=_blank>
                                            點我看詳細資料
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">面積</h4>
                                                <span>
                                                    @ViewBag.ALLList[1][i].HomeSquareMeters 坪
                                                    @*<sup>2</sup>*@
                                                </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">房間</h4>
                                                <span>@ViewBag.ALLList[1][i].HomeRoom</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">廳</h4>
                                                <span>@ViewBag.ALLList[1][i].HomeHall</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">衛浴</h4>
                                                <span>@ViewBag.ALLList[1][i].HomeBathroom</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-center">
                @Html.PagedListPager(Model, page => Url.Action("searchhouseIndex", "Home", new { cityid = cityData, page }))
            </div>

        </div>
    </section>
</main>

<div class="modal fade" id="SearchBtn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">快速搜尋 <i class="bi bi-search"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="~/Home/searchhouseIndex" method="post">
                <div class="modal-body">
                    <section class="row">

                        <div class="col-lg-6">

                            <div class="col-md-12 mb-4 pb-2 mt-2">
                                <div class="form-outline form-white">
                                    <label class="form-label fs-6" for="SearchFast">快速查詢</label>
                                    <input class="form-control form-control-lg mb-3 mb-lg-0 me-lg-3 col-lg-6" type="search" name="SearchFast" id="SearchFast" placeholder="查詢案件名稱、關鍵字、街道" aria-label="Search" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline form-white">
                                        <label class="form-label fs-6" for="selectCounty">縣市</label>
                                        <select class="form-select form-select-lg" name="County" id="selectCounty" onchange="mainIdex()">
                                            <option selected disabled style="display: none" value>不拘</option>
                                            @foreach (var item in ViewBag.countyID)
                                            {
                                                <option value="@item.CityIDTW">@item.CityTW</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline form-white">
                                        <label class="form-label fs-6" for="selectCity">鄉鎮區</label>
                                        <select class="form-select form-select-lg" name="Town" id="selectCity">
                                            <option selected disabled style="display: none" value="">不拘</option>
                                            <option disabled value="">請先選擇縣市</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline form-white">
                                        <label class="form-label fs-6" for="AllMoney">價格</label>
                                        <select class="form-select form-select-lg" name="AllMoney" id="AllMoney">
                                            <option selected value="0">總價不限</option>
                                            <option value="1">900萬以下</option>
                                            <option value="2">900萬 ~ 1200萬</option>
                                            <option value="3">1200萬 ~ 1500萬</option>
                                            <option value="4">1500萬 ~ 2500萬</option>
                                            <option value="5">2500萬 ~ 4000萬</option>
                                            <option value="6">4000萬 ~ 5500萬</option>
                                            <option value="7">5500萬以上</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline form-white">
                                        <label class="form-label fs-6" for="SquareMeters">坪數</label>
                                        <select class="form-select form-select-lg" name="SquareMeters" id="SquareMeters">
                                            <option selected value="0">坪數不限</option>
                                            <option value="1">20坪以下</option>
                                            <option value="2">20坪 ~ 30坪</option>
                                            <option value="3">30坪 ~ 40坪</option>
                                            <option value="4">40坪 ~ 50坪</option>
                                            <option value="5">50坪 ~ 60坪</option>
                                            <option value="6">60坪以上</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*換編寫*@
                        <div class="col-lg-6" style="background-color:#D4986A">

                            <div class="row  mt-2">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline form-white">
                                        <label class="form-label fs-6" for="HomeTypeData">屋型</label>
                                        <select class="form-select form-select-lg" name="HomeTypeDatas" id="HomeTypeData">
                                            <option selected value="0">不拘</option>
                                            @foreach (var item in ViewBag.HomeTypeData)
                                            {
                                                <option value="@item.HomeTypeID">@item.HomeTypeName</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline form-white">
                                        <label class="form-label fs-6" for="CarTypeData">車位種類</label>
                                        <select class="form-select form-select-lg" name="CarTypeDatas" id="CarTypeData">
                                            <option selected value="0">不拘</option>
                                            @foreach (var item in ViewBag.CarTypeData)
                                            {
                                                <option value="@item.CarTypeID">@item.CarTypeName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline form-white">
                                        <label class="form-label fs-6" for="HomeAge">屋齡</label>
                                        <select class="form-select form-select-lg" name="HomeAge" id="HomeAge">
                                            <option selected value="0">不拘</option>
                                            <option value="1">1年以下</option>
                                            <option value="2">1年 ~ 5年</option>
                                            <option value="3">5年 ~ 10年</option>
                                            <option value="4">10年 ~ 15年</option>
                                            <option value="5">15年 ~ 20年</option>
                                            <option value="6">20年以上</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline form-white">
                                        <label class="form-label fs-6" for="HomeFlortDatas">樓層</label>
                                        <select class="form-select form-select-lg" name="HomeFlortDatas" id="HomeFlortData">
                                            <option selected value="0">不拘</option>
                                            <option value="1">1樓以下</option>
                                            <option value="2">2樓 ~ 6樓</option>
                                            <option value="3">7樓 ~ 12樓</option>
                                            <option value="4">13樓以上</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline form-white">
                                        <label class="form-label fs-6" for="HomeRoomDatas">房數</label>
                                        <select class="form-select form-select-lg" name="HomeRoomDatas" id="HomeRoomData">
                                            <option selected value="0">不拘</option>
                                            <option value="1">1房(含套房)</option>
                                            <option value="2">2房</option>
                                            <option value="3">3房</option>
                                            <option value="4">4房</option>
                                            <option value="5">5房以上</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline form-white">
                                        <label class="form-label fs-6" for="HomeSaleDatas">售/租</label>
                                        <select class="form-select form-select-lg" name="HomeSaleDatas" id="HomeSaleData">
                                            <option selected value>不拘</option>
                                            <option value="true">售</option>
                                            <option value="false">租</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <button type="submit" class="btn btn-primary">找房子  <i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Script {
    <script src="~/Js/FindCityData.js"></script>
}