<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>黃金屋網 - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Home/Index">黃金屋網</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/Home/Index">首頁</a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("房屋案件查詢", "Index", "HomeDatas", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    @*<li class="nav-item">
                        @Html.ActionLink("登出", "Logout", "LogInOut", new { area = "" }, new { @class = "nav-link" })
                    </li>*@
                    @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="~/PeopleDatas/Index">會員資料</a>
                    </li>
                </ul>

                <div class="d-flex text-center justify-content-center align-items-center">
                    <div class="me-2">您好! @Session["userNmae"]</div>
                    @Html.ActionLink("登出", "Logout", "LogInOut", new { area = "" }, new { @class = "ms-2 btn btn-warning text-black" })
                </div>
                @*<form class="d-flex" style="width:340px">
                    <input class="form-control me-2" type="search" placeholder="搜尋" aria-label="Search">
                    <button class="btn btn-outline-dark btn-sm" type="submit">搜尋</button>
                </form>*@
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content mt-5 ">
        @RenderBody()

        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - 黃金屋網</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Script", false);
</body>
</html>